@model TaskManager.Models.TaskItem

<h2>Chi tiết công việc</h2>
<div class="alert alert-info">
    <h4>Công việc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tiêu đề</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Chi tiết</dt>
        <dd class="col-sm-10">@Model.Details</dd>
        <dt class="col-sm-2">Ngày</dt>
        <dd class="col-sm-10">@Model.Date.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">@(Model.IsDone ? "Hoàn thành" : "Chưa xong")</dd>
    </dl>
</div>
<div>
    <a asp-action="EditTask" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
    <a asp-action="ListTasks" class="btn btn-info">Quay lại</a>
</div>